@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>

    <link href="~/Content/External style/contactinformation.css" rel="stylesheet" />

</head>



<header>
    <h2>


        <div class="logo">
            <img src="~/Content/Images/logo.png" alt="logo" width="70px" height="70px">
            <h4 style="margin-top:-50px;margin-left:50px;">My Show</h4>


        </div>

    </h2>
    <div class="tag">
        <a href="/Home/Index" tex>Home</a>
        <a href="/Home/About">About</a>
        <a href="/index/customerlogin" tex>Sign in</a>
        <a href="/index/Add_record">Sign up</a>


        <a href="/index/contactinformation">Contact</a>

    </div>
</header>
<style>
    body {
        background-image: url('../../content/images/119738.jpg');
    }

    .form-container {
        max-width: 700px;
        margin: 0 auto;
        width: 200%;
        height: 200%;
        padding: 100px;
        background-color: #cb23de;
        border-radius: 10px;
        margin-top: 100px;
        margin-bottom: 120px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    }
</style>

<body>
    <div class="form-container">
        <h2> </h2>
        <form method="POST">
            
            <p>
                <h2>contact now</h2>
                Contact Us

                At [My Show], we're committed to providing you with the best possible movie ticket booking experience. If you have any questions, comments, or concerns, please don't hesitate to get in touch with us.

                You can contact us using the following methods:<br>

                

                Email
                You can also email us at [myshow@gmai.com]. We aim to respond to all email queries within 24 hours.

                Phone
                If you'd prefer to speak to someone over the phone, please call our customer service team on [+919078677667]. Our lines are open from [opening hours].

               
            </p>
        </form>
    </div>


    <footer>
        <p> copyright@2023</p>
    </footer>

</body>

</html>
