@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link href="~/Content/External style/index.css" rel="stylesheet" />
</head>
<body>

    <header style="height:100px;">
        <h2>


            <div class="logo" style="margin-right:-80px;">
                <img src="~/Content/Images/logo.png" alt="logo" width="70px" height="70px">
                <h4 style="margin-top:-50px;margin-left:50px;">My Show</h4>
            </div>

        </h2>
        <div class="tag">
            <a href="/Home/Index" tex>Home</a>
            <a href="/Home/About">About</a>
            <a href="/Home/About">Book now</a>

            <a href="/index/Logout" tex>logout</a>


            <a href="contact.html">Contact</a>
            <a href="contact.html">@ViewBag.Username</a>

        </div>
    </header>
    <div class="cll">

    </div>

    <footer>
        <p>copyright@2023</p>
    </footer>

</body>

</html>

