@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link href="~/Content/External style/about.css" rel="stylesheet" />
</head>

    

    <header>
        <h2>


            <div class="logo">
                <img src="~/Content/Images/logo.png" alt="logo" width="70px" height="70px">
                <h4 style="margin-top:-50px;margin-left:50px;">My Show</h4>


            </div>

        </h2>
        <div class="tag">
            <a href="/Home/Index" tex>Home</a>
            <a href="/Home/About">About</a>
            <a href="/index/customerlogin" tex>Sign in</a>
            <a href="/index/Add_record">Sign up</a>


            <a href="/index/contactinformation">Contact</a>

        </div>
    </header>
    <style>
        body {
            background-image: url('../../content/images/119738.jpg');
        }

        .form-container {
            max-width: 700px;
            margin: 0 auto;
            width: 700%;
            height: 700%;
            padding: 100px;
            background-color: #DEDB23;
            border-radius: 10px;
            margin-top: 100px;
            margin-bottom: 120px;
            margin-left:300px;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
        }
       
        </style>

    <body>
        <div class="form-container" style="display: inline-block;">
            <h2> </h2>
            <h3> <center>About</center></h3>
            <form method="POST">
                <p>

                    Welcome to My show, the ultimate movie ticket booking platform for movie lovers everywhere. Our mission is to make it easy and convenient for you to book movie tickets from the comfort of your own home or on-the-go, so you can enjoy the latest blockbusters without the hassle of waiting in line at the theater.

                    At MovieTix, we're passionate about movies, and we know that our customers are too. That's why we're committed to providing you with the best possible movie-going experience, with access to a wide range of movies, showtimes, and theater locations. With just a few clicks, you can browse movies, choose your seats, and purchase tickets for yourself or a group of friends.

                    Our team is made up of experienced professionals who are dedicated to providing excellent customer service and support. If you have any questions or concerns, please don't hesitate to get in touch. You can reach us by phone, email, or through our website's live chat feature.

                    At Myshow, we're also committed to protecting your privacy and security. All transactions are processed securely and your personal information is kept safe and confidential.

                    Thank you for choosing MovieTix for your movie ticket booking needs. We hope you enjoy the show!
                </p>
            </form>
        </div>
      


        <footer>
            <p> copyright@2023</p>
        </footer>

    </body>

        </html >
