@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link href="~/Content/External style/index.css" rel="stylesheet" />
</head>
<body>

    <header>
        <h2>
            

            <div class="logo">
                <img src="~/Content/Images/logo.png" alt="logo" width="70px" height="70px">

            </div>

        </h2>
        <div class="tag">
            <a href="/Home/Index" tex>Home</a>
            <a href="/Home/About">About</a>
            <a href="/index/customerlogin" tex>Sign in</a>
            <a href="/index/Add_record">Sign up</a>

            <a href="/index/contactinformation">Contact</a>

        </div>
    </header>
    <div class="cll">

    </div>

    <footer>
        <p>copyright@2023</p>
    </footer>

</body>

</html>

