* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: #333;
    padding: 8px;
    text-align: center;
    font-size: 20px;
    color: white;
    margin-bottom: 100px;
}

    header h2 {
        display: inline-block;
        margin-left: -100px;
    }

    header a {
        display: inline-block;
        margin-left: 30px;
        color: #fff;
        text-decoration: none;
    }

img {
    border-radius: 100px;
    margin-left: -150px;
}

/* Style the footer */
footer {
    background-color: #545458;
    ;
    padding: 30px;
    text-align: center;
    color: white;
    margin-top: 15px;
}

.tag {
    display: inline-block;
    margin-left: 500px;
}
.logo{
    margin-left:50px;
    text

}

.cll {
    background-image: url('../images/616490.jpg');
    height: 470px;
    width: 100%;
    background-size: 100% 100%;
    margin-top: -7%;
    margin-bottom: -1%;
    animation: slider 15s infinite linear;
}

@keyframes slider {
    0% {
        background-image: url('../images/616490.jpg');
        background-size: 100% 100%;
    }

    25% {
        background-image: url('../images/2.png');
        background-size: 100% 100%;
    }

    50% {
        background-image: url('../images/6.jpg');
        background-size: 100% 100%;
    }

    75% {
        background-image: url('../images/909185.jpg');
        background-size: 100% 100%;
    }
}

