* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: #545458;
    padding: 8px;
    text-align: center;
    font-size: 20px;
    color: white;
    margin-bottom: 100px;
}

    header h2 {
        display: inline-block;
        margin-left: -100px;
    }

    header a {
        display: inline-block;
        margin-left: 30px;
        color: #fff;
        text-decoration: none;
    }

img {
    border-radius: 100px;
    margin-left: -150px;
}

/* Style the footer */
footer {
    background-color: #545458;
    ;
    padding: 800px;
    text-align: center;
    color: white;
    margin-top: 70px;
    position:fixed;
}

.tag {
    display: inline-block;
    margin-left: 500px;
}

.logo {
    margin-left: 50px;
    text
}

.cll {
    max-width: 700px;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    padding: 100px;
    background-color: #DEDB23;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 120px;
   
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
